---
import { z } from "astro/zod";
import Layout from "../layouts/Layout.astro";

const Artist = z.object({
  id: z.string().cuid2(),
  name: z.string(),
  picture: z.string(),
});

const ArtistResponse = z.object({
  status: z.number(),
  data: z.object({
    artists: z.array(Artist),
  }),
});

const res = ArtistResponse.parse(
  await fetch("http://localhost:3000/api/v1/artists").then((d) => d.json()),
);
---

<Layout>
  <div
    class="grid grid-cols-1 place-items-center gap-4 p-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      res.data.artists.map((artist) => {
        return (
          <a
            class="relative flex aspect-square w-full flex-col overflow-clip rounded border-2 bg-white shadow-md transition-transform hover:shadow-xl active:scale-95"
            href={`#/artist/${artist.id}`}
          >
            <div class="relative h-full w-full">
              <img class="h-full" src={`${artist.picture}`} alt="" />
            </div>
            <p class="w-full p-4 text-center">{artist.name}</p>
          </a>
        );
      })
    }
  </div>
</Layout>

<!-- <div class="absolute right-2 top-2 z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-600/90 text-white">
            <p>392</p>
            </div> -->
