@tailwind base;
@tailwind components;
@tailwind utilities;

.noUi-target {
    @apply border-none h-1 group-hover:h-2 group-hover:-translate-y-0.5 !important
}

.dragging .noUi-target {
    @apply h-2 -translate-y-0.5 !important
}

.noUi-base {
    @apply bg-red-600
}

.noUi-origin {

}

.noUi-horizontal .noUi-handle {
    @apply opacity-0 translate-y-[-50%] translate-x-[-75%] top-1 group-hover:opacity-100 !important
}

.noUi-active .noUi-horizontal .noUi-handle {
    opacity: 1.0;
}

.noUi-handle {
    @apply w-3.5 h-3.5 rounded-full !important
}

.dragging .noUi-handle {
    @apply opacity-100 !important
}

.noUi-handle::after {
    display: none !important
}

.noUi-handle::before {
    display: none !important
}

/* .noUi-connects {
    @apply border-green-800
} */