@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #24283b;
    --fg-color: #c0caf5;

    --header-bg-color: #1d202f;
    --header-fg-color: #c0caf5;
    --header-logo-color: #e0af68;

    --action-button-bg-color: #587539;

    --side-menu-bg-color: var(--header-bg-color);
    --side-menu-fg-color: var(--header-fg-color);
    --side-menu-overlay: #00000083;
}

.action-button {
    background-color: var(--action-button-bg-color);
    color: var(--fg-color);
}

.header {
    background-color: var(--header-bg-color);
    color: var(--header-fg-color);

    .logo {
        color: var(--header-logo-color);
    }
}

body {
    background-color: var(--bg-color) !important;
    color: var(--fg-color);
    color-scheme: dark;
}

.noUi-target {
    @apply border-none h-1 group-hover:h-2 group-hover:-translate-y-0.5 !important
}

.dragging .noUi-target {
    @apply h-2 -translate-y-0.5 !important
}

.noUi-base {
    @apply bg-red-600
}

.noUi-origin {

}

.noUi-horizontal .noUi-handle {
    @apply opacity-0 translate-y-[-50%] translate-x-[-75%] top-1 group-hover:opacity-100 !important
}

.noUi-active .noUi-horizontal .noUi-handle:active {
    opacity: 1.0 !important;
}

.noUi-handle {
    @apply w-3.5 h-3.5 rounded-full !important
}

.dragging .noUi-handle {
    @apply opacity-100 !important
}

.noUi-handle::after {
    display: none !important
}

.noUi-handle::before {
    display: none !important
}

/* .noUi-connects {
    @apply border-green-800
} */