---
import { ViewTransitions } from "astro:transitions";
import AudioPlayer from "../components/AudioPlayer";
import Header from "../components/Header";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dwebble</title>
    <ViewTransitions />
  </head>
  <body>
    <Header transition:persist client:load />
    <div class="h-full py-16">
      <slot />
    </div>
    <footer
      class="fixed bottom-0 left-0 right-0 z-50 h-16 bg-red-300 px-4 shadow-lg"
    >
      <AudioPlayer client:load transition:persist />
    </footer>
  </body>
</html>
